<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpRow class="sm:slp-mt-24 showcase__container">
    <SlpColumn class="showcase_description__container">
      <nuxt-img
        v-if="data.image_url"
        class="showcase_image"
        :src="data.image_url"
        alt=""
      />
      <SlpTypography tag="h2" variant="heading3-bold">
        {{ data.header }}
      </SlpTypography>
      <SlpTypography tag="p" variant="body1"> {{ data.text }} </SlpTypography>
    </SlpColumn>
    <SlpColumn class="showcase_cards__container">
      <div v-for="card in data.cards" :key="card.header" class="card">
        <SlpTypography tag="h3" variant="heading5-bold">
          {{ card.header }}
        </SlpTypography>
        <SlpTypography tag="p" variant="body1">{{ card.text }}</SlpTypography>
      </div>
    </SlpColumn>
  </SlpRow>
</template>

<style lang="scss" scoped>
.showcase__container {
  margin: 96px 0;
}
.showcase_description__container {
  margin-right: 20px;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 24px;
  }
}
.showcase_image {
  max-width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  text-align: left;
  border-radius: 4px;
  background: $color-surface-800;
  margin-bottom: $spacing-32;
  padding: 24px;
}
h2 {
  margin: 1rem 0;
}
h3 {
  margin: 8px 0 10px 0;
}
p {
  font-size: 16px;
  line-height: 24px;
}
</style>
