<script lang="ts">
import Vue from 'vue';
import { startCase, kebabCase, snakeCase } from 'lodash';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { getPageMetadata } from '../../../common/meta';
import CropInfinityHero from '../../../components/common/crop-infinity-hero.vue';
import TechnologyPartnersNextStep from '../../../components/partners/technology-partners/next-step.vue';
import TopNavigation from '../../../components/common/top-navigation.vue';
import TechnologyPartnerPlatformSection from '../../../components/partners/technology-partners/platform-section.vue';
import SlpTypeahead from '../../../components/common/typeahead.vue';

const getPartnerImgUrl = async (title: string) => {
  const partnerTitle = title.toLowerCase().replace(/[ .]/g, '_');
  const imagePath = `/nuxt-images/applications/apps/${partnerTitle}`;
  const extensions = ['gif', 'jpg', 'jpeg', 'png', 'svg'];
  let imageUrl;

  // eslint-disable-next-line no-restricted-syntax
  for (const extension of extensions) {
    try {
      const fullTitle = `${partnerTitle}.${extension}`;
      // eslint-disable-next-line no-await-in-loop
      await import(
        `../../../static/nuxt-images/applications/apps/${fullTitle}`
      );
    } catch (e) {
      // eslint-disable-next-line no-continue
      continue;
    }

    imageUrl = `${imagePath}.${extension}`;
    break;
  }

  if (!imageUrl) {
    imageUrl = '/nuxt-images/applications/apps/handshake_placeholder.svg';
  }

  return imageUrl;
};

const getSectionIcon = (sectionName: string, groupButtons: Array<any>) => {
  const sectionIcon = groupButtons
    .map((button) => {
      const editedButton = { ...button };
      editedButton.sectionName = button.href.replace('#', '');
      return editedButton;
    })
    .find((button) => button.sectionName === sectionName);

  return sectionIcon ? sectionIcon.icon_left : null;
};

export default Vue.extend({
  components: {
    TechnologyPartnerPlatformSection,
    TopNavigation,
    SlpTypeahead,
    TechnologyPartnersNextStep,
    CropInfinityHero,
  },
  nuxtI18n: false,
  async asyncData({ $content, error }: any) {
    try {
      const apps: any = await $content('apps').fetch();
      const partners = await $content(
        `partners/technology-partners/index`,
      ).fetch();

      const formattedPlatforms = [];
      const featured = { applications: [] };
      const suggestions = [];
      const typeaheadSections = [];

      // eslint-disable-next-line no-restricted-syntax
      for (const platform of apps.platforms) {
        const sectionName = snakeCase(platform.id);
        const suggestion = { name: sectionName, data: [] };
        const formattedPlatform = {
          ...platform,
          applications: [],
        };

        // eslint-disable-next-line no-restricted-syntax
        for (const application of platform.applications) {
          const app = {
            ...application,
            category: startCase(platform.id),
            // eslint-disable-next-line no-await-in-loop
            image: await getPartnerImgUrl(application.title),
            id: application.id ? application.id : kebabCase(application.title),
          };

          formattedPlatform.applications.push(app);
          suggestion.data.push({
            name: application.title,
            value: application.id || kebabCase(application.title),
          });

          if (application.featured) {
            featured.applications.push(app);
          }
        }

        formattedPlatforms.push(formattedPlatform);

        typeaheadSections.push({
          sectionName,
          iconName: getSectionIcon(
            kebabCase(sectionName),
            partners.navigation.buttons,
          ),
        });

        suggestions.push(suggestion);
      }

      formattedPlatforms[0].header = partners.all_partners.title;
      featured.header = partners.featured_partners.title;

      return {
        partners,
        formattedPlatforms,
        suggestions,
        typeaheadSections,
        featured,
      };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).partners, this.$route.path);
  },
  methods: {
    onSelectPartner(partner: { name: string; value: string }) {
      this.$router.push(`#${partner.value}`);
    },
  },
});
</script>

<template>
  <div>
    <CropInfinityHero :data="partners.hero" />
    <SlpContainer>
      <SlpTypeahead
        data-aos="zoom-in-up"
        data-aos-duration="800"
        :options="suggestions"
        :placeholder="partners.search.placeholder"
        :sections="typeaheadSections"
        @select="onSelectPartner"
      />
      <TopNavigation
        class="find-partners__navigation"
        :data="partners.navigation"
        :sensitivity="0.05"
        :skip="1"
      >
        <template #before>
          <TechnologyPartnerPlatformSection :platform="featured" />
        </template>
        <div
          v-for="platform in formattedPlatforms"
          :id="platform.id"
          :key="platform.title"
        >
          <TechnologyPartnerPlatformSection :platform="platform" />
        </div>
      </TopNavigation>
    </SlpContainer>
    <SlpContainer variant="gradient">
      <TechnologyPartnersNextStep :data="partners.next_step" :sensitivity="0" />
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss">
.find-partners {
  &__navigation {
    &:deep .group-cta {
      margin-top: 0 !important;
      margin-bottom: $spacing-96 !important;
    }
  }
}
</style>
