<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  CTA as CallToAction,
  FreeTrialCTA,
  NextStep,
} from '../../components/common/index.vue';
import { CopyAbout, LearnMoreCards } from '../../components/company/index.vue';
import { Showcase } from '../../components/why/index.vue';
import { getPageMetadata } from '~/common/meta';
import { SolutionsHero as Hero } from '~/components/solutions/index.vue';

export default Vue.extend({
  name: 'Company',
  components: {
    CallToAction,
    CopyAbout,
    FreeTrialCTA,
    NextStep,
    LearnMoreCards,
    Showcase,
    Hero,
  },
  nuxtI18n: false,
  async asyncData({ $content }) {
    const company = await $content('company/visiting').fetch();
    return { company };
  },
  head(): MetaInfo {
    return getPageMetadata(
      (this as any).company,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
});
</script>

<template>
  <div>
    <SlpColumn>
      <component
        :is="component.name"
        v-for="(component, i) in company.components"
        :key="i"
        :data="component.data"
      />
    </SlpColumn>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
