<script lang="ts">
import Vue from 'vue';
import { toKebabCase } from '@/lib/utils';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  methods: {
    toKebabCase,
  },
});
</script>

<template>
  <div class="container">
    <SlpRow>
      <SlpColumn :cols="data.column_size || 12">
        <SlpTypography
          v-if="data.h3_title"
          :id="toKebabCase(data.h3_title)"
          tag="h3"
          variant="heading3"
          >{{ data.h3_title }}
        </SlpTypography>
        <SlpTypography v-if="data.title" tag="h4" variant="heading4"
          >{{ data.title }}
        </SlpTypography>
        <SlpTypography v-if="data.text" tag="p" variant="body1"
          >{{ data.text }}
        </SlpTypography>
        <div
          v-if="data.tableIsMarkdown"
          class="markdown-table"
          :aria-describedby="data.title"
          v-html="$md.render(data.table)"
        />

        <table
          v-else
          :aria-describedby="data.title"
          :class="[
            {
              'full-width': data.full_width,
            },
            data.row_width ? `row-width-${data.row_width}` : '',
          ]"
        >
          <thead>
            <tr v-if="data.headers">
              <th
                v-for="header in data.headers"
                :key="header"
                v-html="$md.render(header)"
              ></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, rowIndex) in data.rows" :key="rowIndex">
              <td
                v-for="column in row.columns"
                :key="column"
                v-html="$md.render(column)"
              ></td>
            </tr>
          </tbody>
        </table>
      </SlpColumn>
    </SlpRow>
  </div>
</template>

<style lang="scss" scoped>
.container {
  margin: 15px;
  overflow-x: auto;

  h2 {
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: 600;
  }

  h4 {
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
  }

  .slp-col-md-8 {
    margin: 0 auto;
  }

  @media (max-width: $breakpoint-lg) {
    max-width: 80vw;
    overflow-x: scroll;
  }
}

table {
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 4px;
  width: 80%;
  margin: 20px auto;

  &.full-width {
    width: 100%;
  }
}

table.row-width-25 tr > td,
tr > th {
  width: 25% !important;
}

table.row-width-50 tr > td,
th {
  width: 50% !important;
}

table.row-width-75 tr > td,
tr > th {
  width: 75% !important;
}

tr {
  td,
  th {
    width: 100%;
    text-align: left;
    padding: 10px 25px;
  }
}

thead {
  tr:first-child {
    th {
      background: #f8f8f8;
    }
  }
}

tbody {
  tr:nth-child(even) {
    td {
      background: #f8f8f8;
    }
  }

  tr {
    td:last-child {
      margin: 0;
    }
  }
}
.markdown-table {
  margin-bottom: 40px;
}

.markdown-table :deep {
  p,
  br ~ a {
    margin: 8px auto;
    display: block;
  }

  table {
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    margin: 20px auto;

    &.full-width {
      width: 100%;
    }
  }

  table tr > td,
  tr > th {
    width: 75% !important;
  }

  tr {
    td,
    th {
      width: 100%;
      text-align: left;
      padding: 10px 25px;
    }
  }

  thead {
    tr:first-child {
      th {
        background: #f8f8f8;
      }
    }
  }

  tbody {
    tr:nth-child(even) {
      td {
        background: #f8f8f8;
      }
    }

    tr {
      td:last-child {
        margin: 0;
      }
    }
  }
}
</style>
