<script lang="ts">
import FAQ from '@/components/events/faq/faq.vue';

export default {
  name: 'Faq',
  components: {
    FAQ,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      isOpenIndex: 0,
    };
  },
  methods: {
    toggleController(index: number) {
      this.isOpenIndex = index;
    },
  },
};
</script>

<template>
  <section :id="data.anchor_id" class="faq">
    <FAQ :data="data" data-aos="fade-right" data-aos-duration="800" />
  </section>
</template>

<style lang="scss" scoped>
.faq {
  position: relative;
  min-height: 55rem;
  height: 100%;
  background-image: url('/nuxt-images/events/vertical_gradient.png');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  & > * {
    color: $color-text-50 !important;
  }

  @media (min-width: $breakpoint-md) {
    min-height: 40rem;
    height: 100%;
    background-size: cover;
    background-image: url('/nuxt-images/events/gradient.png');
  }

  .slp-container {
    height: 100%;
  }

  h2 {
    color: $color-text-50;
  }

  @media (max-width: $breakpoint-md) {
    h2 {
      margin-bottom: $spacing-32;
      font-size: 48px;
      line-height: 60px;
    }
    .slp-col-md-6 {
      width: 100%;
    }
  }
}
</style>
