<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'BySolutionLink',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer
    class="by-solution-link"
    data-aos="fade-up"
    :data-aos-duration="500"
  >
    <SlpRow :class="data?.image_right ? 'by-solution-link--reverse' : ''">
      <SlpColumn class="left" :cols="data?.size ? 6 : 7">
        <nuxt-img
          class="by-solution-link__image"
          :src="data.image"
          :alt="data.alt"
          loading="lazy"
        />
      </SlpColumn>
      <SlpColumn class="right" :cols="data?.size ? 6 : 5">
        <SlpIcon
          name="calendar-alt-2"
          alt="Calendar Icon"
          size="md"
          variant="marketing"
        />
        <SlpTypography
          variant="heading2-bold"
          :class="data?.image_right ? '' : 'slp-mt-24'"
          >{{ data.title }}</SlpTypography
        >
        <SlpTypography variant="body1" class="slp-mt-24">{{
          data.description
        }}</SlpTypography>
        <SlpButton
          class="slp-mt-24"
          :href="data.link"
          :variant="data?.button_type ? data.button_type : 'tertiary'"
          data-ga-name="Learn More"
          data-ga-location="body"
        >
          <span
            class="slp-mr-8"
            v-html="data?.button_text ? data.button_text : 'Learn More'"
          ></span>
          <SlpIcon
            name="chevron-lg-right"
            variant="product"
            hex-color="#171321"
            alt="Chevron Right Icon"
          />
        </SlpButton>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.by-solution-link {
  margin-bottom: $spacing-96;

  .left {
    overflow: hidden;
    .by-solution-link {
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    min-height: 100%;
  }

  .right {
    padding: $spacing-32;
    display: flex;
    flex-direction: column;
    background-color: $color-surface-800;
    border-radius: 0 4px 100px 0;
  }

  &--reverse {
    flex-direction: row-reverse;

    .right {
      justify-content: center;
      border-radius: 4px 0 0 4px;

      @media (max-width: $breakpoint-md) {
        border-radius: 0 0 4px 4px;
      }

      .slp-btn-primary {
        max-width: fit-content;
      }
    }

    .left {
      img {
        border-radius: 4px 0 100px 0;

        @media (max-width: $breakpoint-md) {
          border-radius: 4px 4px 0 0;
        }
      }
    }
  }
}
</style>
