<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ResourcesStartHere',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>
<template>
  <SlpContainer>
    <SlpRow class="slp-lg-mt-32 slp-mb-48">
      <SlpColumn :cols="12">
        <SlpTypography tag="h2" variant="heading2-bold">{{
          data.title
        }}</SlpTypography>
      </SlpColumn>
    </SlpRow>

    <SlpRow class="slp-mb-96">
      <SlpColumn
        v-for="card in data.cards"
        :key="card.title"
        :cols="3"
        class="card-container"
      >
        <SlpCard100
          :link="card.link"
          :icon="card.icon"
          class="card"
          :data-ga-name="card.data_ga_name"
          :data-ga-location="card.data_ga_location"
        >
          <div>
            <SlpTypography tag="h5" variant="heading5-bold">{{
              card.title
            }}</SlpTypography>
          </div>
          <div>
            <SlpTypography variant="body2">
              {{ card.description }}
            </SlpTypography>
          </div>
        </SlpCard100>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style scoped lang="scss">
.card {
  background-color: $color-surface-800;
  max-width: 255px;
  min-height: 284px;
  margin-bottom: $spacing-32;
  border-radius: 4px;

  @media (max-width: $breakpoint-md) {
    min-width: 100%;
    min-height: fit-content;
  }

  &:hover {
    background: linear-gradient(
      93.83deg,
      rgba(199, 177, 254, 0.4) 7.27%,
      rgba(255, 212, 216, 0.4) 105.33%
    ) !important;
  }
}
.card-container {
  width: 100%;
  padding: 0;

  @media (max-width: $breakpoint-md) {
    padding: 0;
  }
}
</style>
