<script>
import { init, refresh } from 'aos';
import { LocalizedHrefMixin } from '../mixins';

export default {
  mixins: [LocalizedHrefMixin],
  head() {
    return {
      htmlAttrs: {
        lang: this.$i18n.locale,
      },
    };
  },
  async beforeMount() {
    init({
      once: true,
    });
    let fileName =
      this.$route.path.replace(/(^\/)|(\/$)/g, '') || this.$route.name;
    let content;

    try {
      content = await this.$content(fileName).limit(2).fetch();
    } catch (e) {
      // eslint-disable-next-line no-console
      console.error(`File not found in the content folder : ${fileName}`);
    }

    if (Array.isArray(content)) {
      fileName = `${fileName}/index`;
    }

    document.addEventListener('webIDE', () => {
      window.location.href = `https://gitlab.com/-/ide/project/gitlab-com/marketing/digital-experience/buyer-experience/edit/main/-/content/${fileName}.yml`;
    });

    document.addEventListener('viewPageSource', () => {
      window.location.href = `https://gitlab.com/gitlab-com/marketing/digital-experience/buyer-experience/-/blob/main/content/${fileName}.yml`;
    });
  },
  mounted() {
    refresh();
  },
};
</script>

<template>
  <div>
    <nav>
      <nuxt-img
        class="desktop"
        src="/nuxt-images/free-trial/free-trial-nav-logo.svg"
        width="160px"
      />
      <nuxt-img
        class="mobile"
        src="/nuxt-images/free-trial/free-trial-nav-logo-mobile.svg"
        width="25px"
      />
      <SlpButton
        href="https://gitlab.com/-/trials/new"
        variant="primary"
        data-ga-name="free trial"
        data-ga-location="header"
      >
        Start free trial
        <SlpIcon
          class="learn-more-icon slp-ml-8"
          name="chevron-lg-right"
          variant="product"
        />
      </SlpButton>
    </nav>
    <div ref="localizedContainer">
      <Nuxt role="main" />
    </div>
    <SlpMinimizedFooter />
  </div>
</template>

<style lang="scss" scoped>
nav {
  display: flex;
  justify-content: space-between;
  padding: 13px $spacing-32;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1025;
  background: $color-surface-50;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  .mobile {
    display: none;
  }

  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
    &:deep(.slp-btn) {
      border-radius: 0;
      justify-content: center;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
      margin: 12px auto;
    }
  }
}
</style>
