<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  CTA as CallToAction,
  Copy,
  CopyMedia,
  AnchorDropdown,
} from '../components/common/index.vue';
import { MenuComponent as SideMenu } from '~/components/side-menu/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  name: 'GetHelp',
  components: {
    AnchorDropdown,
    CallToAction,
    Copy,
    CopyMedia,
    SideMenu,
  },
  nuxtI18n: false,
  async asyncData({ $content }) {
    const doc = await $content('get-help').fetch();
    return { doc };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
  mounted() {
    const { sideMenu } = this.$refs;
    document.addEventListener('scroll', () => {
      if (window.scrollY >= 4380) {
        sideMenu.$el.style.display = 'none';
      } else sideMenu.$el.style.display = 'block';
    });
  },
});
</script>

<template>
  <SlpContainer>
    <SideMenu
      v-if="doc.side_menu"
      ref="sideMenu"
      :links="doc.side_menu.links"
    />
    <anchor-dropdown
      :options="doc.side_menu.links"
      fixed
      label="On this page: "
    />
    <SlpColumn :cols="10" size="xl">
      <component
        :is="component.name"
        v-for="component in doc.components"
        :key="component.name"
        :data="component.data"
      />
    </SlpColumn>
  </SlpContainer>
</template>

<style scoped lang="scss"></style>
