<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';

interface FeatureCard {
  name: string;
  description: string;
  icon: string;
  pill: string;
  href: string;
}
export default Vue.extend({
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: false,
      default: '',
    },
    view_all_link: {
      type: Object,
      required: false,
      default: null,
    },
    cards: {
      type: Array as PropType<FeatureCard[]>,
      required: true,
    },
    double_card: {
      type: Object,
      required: false,
      default: null,
    },
  },
  methods: {
    goToPage(page: string): void {
      window.location.href = page;
    },
  },
});
</script>

<template>
  <div class="ai-features">
    <SlpTypography
      variant="heading2-bold"
      tag="h2"
      class="ai-features__title"
      >{{ title }}</SlpTypography
    >
    <SlpRow>
      <SlpColumn v-if="subtitle" :cols="7">
        <SlpTypography variant="heading5" tag="h5">{{
          subtitle
        }}</SlpTypography>
      </SlpColumn>
      <SlpColumn v-if="view_all_link" :cols="5" class="view-all-link">
        <SlpButton
          :href="view_all_link.view_all_url"
          variant="tertiary"
          :data-ga-name="view_all_link.data_ga_name"
          :data-ga-location="view_all_link.data_ga_location"
        >
          {{ view_all_link.view_all_text }}
          <SlpIcon name="chevron-lg-right" variant="product" class="slp-ml-8" />
        </SlpButton>
      </SlpColumn>
    </SlpRow>

    <div class="card-grid">
      <div
        v-for="card in cards"
        :key="card.name"
        role="button"
        class="ai-card"
        :data-ga-location="card.data_ga_location || ''"
        :data-ga-name="card.data_ga_name || ''"
        @click="goToPage(card.href)"
      >
        <SlpIcon
          :name="card.icon"
          variant="marketing"
          size="md"
          hex-color="#171321"
        />
        <SlpTypography variant="body1-bold">{{ card.name }}</SlpTypography>
        <SlpTypography variant="body3">{{ card.description }}</SlpTypography>
        <SlpIcon name="arrow-right" variant="product" size="sm" />
      </div>
      <div v-if="double_card" class="ai-double-card">
        <SlpColumn :cols="8">
          <SlpIcon
            :name="double_card.icon"
            variant="marketing"
            size="md"
            hex-color="#171321"
            class="slp-mb-16"
          />
          <SlpTypography variant="heading4">{{
            double_card.name
          }}</SlpTypography>
        </SlpColumn>
        <SlpColumn :cols="4" class="buttons">
          <SlpButton
            :href="double_card.cta_one_link"
            :data-ga-name="double_card.data_ga_name_one"
            :data-ga-location="double_card.data_ga_name_one"
            class="double-card-primary-cta primary gleam"
          >
            {{ double_card.cta_one_text }}
            <SlpIcon name="arrow-right" variant="product" size="sm" />
          </SlpButton>
          <SlpButton
            :href="double_card.cta_two_link"
            :data-ga-name="double_card.data_ga_name_two"
            :data-ga-location="double_card.data_ga_name_two"
            class="double-card-secondary-cta secondary"
          >
            {{ double_card.cta_two_text }}
            <SlpIcon name="arrow-right" variant="product" size="sm" />
          </SlpButton>
        </SlpColumn>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.ai-features {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: $spacing-64 0;

  @media (min-width: $breakpoint-lg) {
    &__title {
      max-width: 50%;
    }
  }

  .view-all-link {
    text-align: right;
  }
  .card-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }

    .ai-double-card {
      grid-column: span 2;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border: 1px solid $color-surface-200;
      border-radius: 4px 4px 90px 4px;
      padding: $spacing-32 $spacing-48;

      .buttons {
        .primary,
        .secondary {
          border: none;
          display: flex;
          margin-top: $spacing-8;
          float: left;
          justify-content: space-between;
          transition: all 0.3s;
          @media (min-width: $breakpoint-lg) {
            min-width: 230px;
          }
        }
        .primary {
          color: $color-text-300;
          background: linear-gradient(90.25deg, #e3d6ff 0.05%, #ffcccc 115.41%);

          &.gleam {
            background: linear-gradient(
              93.83deg,
              rgba(199, 177, 254, 0.75) 7.27%,
              rgba(255, 212, 216, 0.75) 105.33%
            ) !important;
            color: $color-primary-200 !important;
            border: none !important;
            position: relative;
            overflow: hidden;

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: -200%;
              width: 200%;
              height: 100%;
              transform: skewX(-20deg);
              background-image: linear-gradient(
                to right,
                transparent,
                rgba(255, 255, 255, 0.5),
                transparent
              );
            }

            &:hover:after {
              animation: shine 0.8s ease-in-out;
            }
          }
        }
        .secondary {
          background: $color-surface-900;
          color: $color-text-300;
          &:hover {
            background: $color-surface-950;
          }
        }
      }

      @media (max-width: $breakpoint-md) {
        grid-column: span 1;
        flex-direction: column;
        padding: $spacing-32;
      }
    }
    .ai-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $color-surface-800;
      border-radius: 4px;
      padding: $spacing-24;
      transition: all 0.3s;
      min-height: 250px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        border-radius: 4px 4px 90px 4px;
        background: linear-gradient(
          93.83deg,
          rgba(199, 177, 254, 0.4) 7.27%,
          rgba(255, 212, 216, 0.4) 105.33%
        );
      }
      .pill-row {
        display: flex;
        justify-content: space-between;
        .pill {
          padding: 4px 12px;
          background: #7759c2;
          border-radius: 90px;
          color: $color-text-50;
        }
      }
    }
  }
}

@keyframes shine {
  100% {
    left: 200%;
  }
}
</style>
