<script lang="ts">
import { MetaInfo } from 'vue-meta/types/vue-meta';
import Vue from 'vue';
import {
  CityHero,
  ConductBanner,
  Form,
  Blurb,
  Sponsor,
} from '~/components/events/world-tour/index.vue';
import { NextStep } from '~/components/common/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    CityHero,
    ConductBanner,
    NextStep,
    Form,
    Sponsor,
    Blurb,
  },
  nuxtI18n: false,
  async asyncData({ $content, params, error }: any) {
    try {
      const city = await $content(
        `events/devsecops-world-tour/executive/${params.city}`,
      ).fetch();
      return { city };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return {
      meta: [{ hid: 'robots', name: 'robots', content: 'noindex' }],
      ...getPageMetadata((this as any).city, this.$route.path),
    };
  },
});
</script>

<template>
  <div>
    <CityHero
      v-bind="city.hero"
      :registration-closed="city.registrationClosed"
    />
    <Blurb v-bind="city.blurb" />
    <EventsWorldTourFormMulti
      v-if="city.exec_form && city.exec_form.multi_step"
      v-bind="city.exec_form"
      :registration-closed="city.registrationClosed"
    />
    <Form
      v-if="city.exec_form && !city.exec_form.multi_step"
      v-bind="city.exec_form"
      :registration-closed="city.registrationClosed"
    />
    <Sponsor v-if="city.sponsors" :sponsors="city.sponsors" />
    <ConductBanner v-bind="city.conduct_banner" />
    <ConductBanner
      v-if="city.disclaimer"
      v-bind="city.disclaimer"
      style="padding-top: 0"
    />
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss">
:deep {
  .mktoForm > .mktoFormRow,
  .mktoForm > .mktoButtonRow,
  .mktoForm > .mktoFormRow fieldset legend {
    display: block !important;
  }
}
</style>
